In [14]:
import numpy as np
import pandas as pd 

df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"], "data1": pd.Series(range(7), dtype="Int64")})
df2 = pd.DataFrame({"key": ["a", "b", "d"], "data2": pd.Series(range(3), dtype="Int64")})
df1 
df2
pd.merge(df1,df2)
"""

    key	data1	data2
0	b	0	1
1	b	1	1
2	a	2	0
3	a	4	0
4	a	5	0
5	b	6	1"""
pd.merge(df1, df2, on="key") #Itâ€™s a good practice to specify explicitly, though

df3 = pd.DataFrame({"lkey": ["b", "b", "a", "c", "a", "a", "b"],
"data1": pd.Series(range(7), dtype="Int64")})
df4 = pd.DataFrame({"rkey": ["a", "b", "d"],
"data2": pd.Series(range(3), dtype="Int64")})#If the column names are different in each object, we can specify them separately
pd.merge(df3, df4, left_on="lkey", right_on="rkey") #By default, pandas.merge does an "inner" join
pd.merge(df1, df2, how="outer") #outer join

pd.merge(df3, df4, left_on="lkey", right_on="rkey", how="outer")

df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
"data1": pd.Series(range(6), dtype="Int64")})
df2 = pd.DataFrame({"key": ["a", "b", "a", "b", "d"],
"data2": pd.Series(range(5), dtype="Int64")})

pd.merge(df1, df2, on="key", how="left") #left join
pd.merge(df1, df2, how="inner") #inner join

#To merge with multiple keys, pass a list of column names
left = pd.DataFrame({"key1": ["foo", "foo", "bar"],
"key2": ["one", "two", "one"],
"lval": pd.Series([1, 2, 3], dtype='Int64')})
right = pd.DataFrame({"key1": ["foo", "foo", "bar", "bar"],
"key2": ["one", "one", "one", "two"],
"rval": pd.Series([4, 5, 6, 7], dtype='Int64')})

pd.merge(left, right, on=["key1", "key2"], how="outer")

  key1 key2  lval  rval
0  bar  one     3     6
1  bar  two  <NA>     7
2  foo  one     1     4
3  foo  one     1     5
4  foo  two     2  <NA>